<%- include('partials/header'); %>
							<!-- Banner -->
							<section id="banner">
									<div class="content">
										<header>
											<h1>Dashboard Spaßbank</h1>
											<p>Lorem Ipsum dolor sit amet</p>
										</header>
								</section>
							<!-- Section -->
								<section>
									<header class="major">
										<h2>Übersicht</h2>
									</header>
									<div class="features">
										<article>
												<span class="icon fa-money"></span>
											<a href="/atm">
												<div class="content">
													<h3>Automaten</h3>
												</div>
											</a>
											
										</article>
										<article>
												<span class="icon fa-users"></span>
											<a href="/customers">
												<div class="content">
													<h3>Kunden</h3>
												</div>
											</a>
										</article>
									</div>
								</section>
						</div>
					</div>

				<!-- Sidebar -->
				<%- include('partials/sidebar'); %>

			</div>

		<!-- Scripts -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
        <script src="/js/breakpoints.min.js"></script>
        <script src="/js/browser.min.js"></script>
        <script src="/js/util.js"></script>
        <script src="/js/main.js"></script>

	</body>
</html>