<!DOCTYPE HTML>
<!--
	Editorial by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>Spaßbank</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="css/main.css" />
		<link rel="stylesheet" href="modalsonly/css/bootstrap.min.css">
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Main -->
					<div id="main">
						<div class="inner">

							<!-- Header -->
								<header id="header">
									<a href="/dashboard" class="logo"><strong>Spaßbank</strong></a>
								</header>

							<!-- Banner -->
								<section id="banner">
									<div class="content">
										<header>
											<h1>Dashboard Spaßbank</h1>
											<p>Lorem Ipsum dolor sit amet</p>
										</header>
								</section>

							<!-- Section -->
								<section>
									<header class="major">
										<h2>Übersicht</h2>
									</header>
									<div class="features">
										<article>
												<span class="icon fa-money"></span>
											<a href="/atm">
												<div class="content">
													<h3>Automaten</h3>
												</div>
											</a>
											
										</article>
										<article>
												<span class="icon fa-users"></span>
											<a href="/customers">
												<div class="content">
													<h3>Kunden</h3>
												</div>
											</a>
										</article>
									</div>
								</section>
						</div>
					</div>

				<!-- Sidebar -->
					<div id="sidebar">
						<div class="inner">

							<!-- Search -->
								<section id="search" class="alt">
									<form method="post" action="#">
										<input type="text" name="query" id="query" placeholder="Search" />
									</form>
								</section>

							<!-- Menu -->
								<nav id="menu">
									<header class="major">
										<h2>Menu</h2>
									</header>
									<ul>
										<li><a href="/dashboard" class="active">Dashboard</a></li>
										<li><a href="/customers">Kunden</a></li>
										<li><a href="/atm">Bankautomaten</a></li>
									</ul>
								</nav>
							<!-- Footer -->
								<footer id="footer">
									<p class="copyright">&copy;All rights reserved. Scrum-Ninjas</a>.</p>
								</footer>

						</div>
					</div>

			</div>

		<!-- Scripts -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
        <script src="/js/breakpoints.min.js"></script>
        <script src="/js/browser.min.js"></script>
        <script src="/js/util.js"></script>
        <script src="/js/main.js"></script>

	</body>
</html>